{% extends 'base.html'%}

{% block head %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.6/dist/chart.umd.min.js"></script>
{% endblock %}

{% block title %}Analyze{% endblock %}


{% block body %}

<div class="container-xxl ">


    <div class="py-3 text-center">
        <h2 class="text-center py-5">Balance of <em class="fw-bold" style="font-style: normal;">${{ user["balance"] | round(2) }}</em></h2>

        <div class="row justify-content-center">
            <div class="col-md-auto">
                <a type="button" class="btn btn-info" href="#endOfMonthChart">End Of Month Balance</a>
            </div>
            <div class="col-md-auto">
                <a type="button" class="btn btn-info" href="#monthlyNetIncomeChart">Monthly Net Income</a>
            </div>
            <div class="col-md-auto">
            <a type="button" class="btn btn-info" href="#savingsChart">Savings Calculator</a>
            </div>
            <div class="col-md-auto">
                <a type="button" class="btn btn-info" href="#spendingTypeChart">Income/Expense Type</a>
            </div>
           
        </div>
    </div>


    <div class="row py-5 justify-content-center">
        
        <div class="text-start col-md-auto" style="width: 60%;">
            
            <h3 class="text-center pt-5" id="endOfMonthChart">End Of Month Balance</h3>
            <hr>
            <div class="row py-3" >
                <div class=" offset-md-1 col-md-3">
                    <select name="startDate" id="startDate" class="form-select">
                        <option value="0" selected>January</option>
                        <option value="1">February</option>
                        <option value="2">March</option>
                        <option value="3">April</option>
                        <option value="4">May</option>
                        <option value="5">June</option>
                        <option value="6">July</option>
                        <option value="7">August</option>
                        <option value="8">September</option>
                        <option value="9">October</option>
                        <option value="10">November</option>
                        <option value="11">Decemer</option>
                    </select>
                </div>
                <div class="offset-md-1 col-md-1">
                    <p class="fw-bold h5">to</p>
                </div>
                <div class="offset-md-1 col-md-3">
                    <select name="endDate" id="endDate" class="form-select">
                        <option value="0" selected>January</option>
                        <option value="1">February</option>
                        <option value="2">March</option>
                        <option value="3">April</option>
                        <option value="4">May</option>
                        <option value="5">June</option>
                        <option value="6">July</option>
                        <option value="7">August</option>
                        <option value="8">September</option>
                        <option value="9">October</option>
                        <option value="10">November</option>
                        <option value="11">Decemer</option>
                    </select>
                </div>
                <div class="offset-md-1 col-md-1">
                    <button class="btn btn-outline-success"id="calculatePeriod" onclick="refresh()"><span>Go</span></button>
                </div>
            </div>
            <div class="row py-2 justify-content-center">
                <div class="col-md-6" style="width: 100%;">
                    <canvas id="lineChart" class="py-2"></canvas>
                </div>
            </div>
        </div>
    </div>


    <div class="row py-5 justify-content-center">
        
        <div class="text-start col-md-auto" style="width: 60%;">
            
            <h3 class="text-center pt-3" id="monthlyNetIncomeChart">Monthly Net Income</h3>
            <hr>
            <div class="row py-3" >
                <div class=" offset-md-1 col-md-3">
                    <select name="startDate" id="netStartDate" class="form-select">
                        <option value="0" selected>January</option>
                        <option value="1">February</option>
                        <option value="2">March</option>
                        <option value="3">April</option>
                        <option value="4">May</option>
                        <option value="5">June</option>
                        <option value="6">July</option>
                        <option value="7">August</option>
                        <option value="8">September</option>
                        <option value="9">October</option>
                        <option value="10">November</option>
                        <option value="11">Decemer</option>
                    </select>
                </div>
                <div class="offset-md-1 col-md-1">
                    <p class="fw-bold h5">to</p>
                </div>
                <div class="offset-md-1 col-md-3">
                    <select name="endDate" id="netEndDate" class="form-select">
                        <option value="0" selected>January</option>
                        <option value="1">February</option>
                        <option value="2">March</option>
                        <option value="3">April</option>
                        <option value="4">May</option>
                        <option value="5">June</option>
                        <option value="6">July</option>
                        <option value="7">August</option>
                        <option value="8">September</option>
                        <option value="9">October</option>
                        <option value="10">November</option>
                        <option value="11">Decemer</option>
                    </select>
                </div>
                <div class="offset-md-1 col-md-1">
                    <button class="btn btn-outline-success"id="calculatePeriod" onclick="refresh()"><span>Go</span></button>
                </div>
            </div>
            <div class="row py-2 justify-content-center">
                <div class="col-md-6" style="width: 100%;">
                    <canvas id="netIncome" class="py-2"></canvas>
                </div>
            </div>
        </div>
    </div>


    <div class="row py-3 justify-content-center" id="savingsChart">
        
        <div class="col-md-6" style="width: 70%;">
            <h3 class="text-center">Savings Calculator</h3>
            <hr>


            <div class="row py-3 justify-content-center">
                <div class="col-md-auto">
                    <p class="fw-bold h5">Savings Type: </p>
                </div>
                <div class="col-md-3">
                    <select name="savingsType" id="savingsType" class="form-select">
                        <option value="Roth IRA">Roth IRA</option>
                        <option value="S&P500">S&P 500</option>
                        <option value="High Yield Savings Account">High Yield Savings Account</option>
                    </select>
                </div>
                <div class="col-md-auto">
                    <p class="fw-bold h5">% Balance: </p>
                </div>
                <div class="col-md-2">
                    <input type="number" id="savingsPercent" min="0" max="100" placeholder="%Balance" class="form-control">
                </div>
                <div class=" offset-md-1 col-md-2">
                    <button type="submit"   onclick="refresh()" class="btn btn-outline-success" id="calculateSavings">Calculate!</button>
                </div>
            </div>

            <div class="row py-2 justify-content-center">
                <div class="col-md-6" style="width: 100%;">
                    <canvas id="savingsGraph" class="py-2"></canvas>
                </div>
            </div>

        </div>
    </div>
    <!-- <div class="row py-3 justify-content-center" id="monthlyNetIncomeChart"></div>
        <div class="col-md-6" style="width: 60%;">
            <h3 class="text-center">Monthly Net Income</h3>
            <hr>
            <canvas id="netIncome"></canvas>
        </div>
    </div> -->

    

    <div class="row py-3 justify-content-center" id="spendingTypeChart">
        <div class="col-md-6" style="width: 25%;">
            <h3 class="text-center">Income Type </h3>
            <hr>
            <canvas id="incomePieChart"></canvas>
        </div>
        <div class="text-center offset-md-2 col-md-6" style="width: 25%;">
            <h3 class="text-center">Expense Type </h3>
            <hr>
            <canvas id="expensePieChart"></canvas>
        </div>
    </div>
    
</div>

<script>
    function refresh(){
        location.reload();
    }

    
    (async function() {

    //line chart
    
    var lineElement =  document.getElementById('lineChart');
    
    var start = parseInt(document.getElementById("startDate").value, 10);
    var end = parseInt(document.getElementById("endDate").value, 10);

    

    if (start >= end ){
        start=0
        end=11
    }

    
    
    const months = [
        'January', 'February', 'March', 'April', 'May', 'June',
        'July', 'August', 'September', 'October', 'November', 'December'
    ];
    
    
    const lineLabels = months.slice(start,end+1);


    const allData = [{{user['months'][1]}},{{user['months'][2]}},{{user['months'][3]}},{{user['months'][4]}},{{user['months'][5]}},{{user['months'][6]}},{{user['months'][7]}},{{user['months'][8]}},{{user['months'][9]}},{{user['months'][10]}},{{user['months'][11]}},{{user['months'][12]}}];
    const data = [];

    for (let i = start; i <= end; i++) {
        data.push(allData[i]);
    }


    
    const lineData = {
        labels : lineLabels,
        datasets : [{
            label: 'End of Month Balance',
            data: data,
            fill: false,
            borderColor: 'rgb(75, 192, 192)',
            tension: 0.1
        }]
            
    };
      

    const lineGraph = new Chart(
        lineElement,
      {
        type: 'line',
        
        data: lineData,
        
        options: {
            responsive : true,
            scales: {
                x: {
                    title: {
                    display: true,
                    text: 'Months',
                    }
                },
                
                y: {
                    beginAtZero: true,
                    title: {
                    display: true,
                    text: 'Balance In Dollars'
                    }
                }
            
            }
        }
        
    }
    );

    //end line chart

    //net income bar chart


    

    var netIncomeElement = document.getElementById('netIncome')


    var netStart = parseInt(document.getElementById("netStartDate").value, 10);
    var netEnd = parseInt(document.getElementById("netEndDate").value, 10);

    

    if (netStart >= netEnd ){
        netStart=0
        netEnd=11
    }


    const incomeMonths =   [
        'January', 'February', 'March', 'April', 'May', 'June',
        'July', 'August', 'September', 'October', 'November', 'December'
    ];

    const netIncomeLabels = incomeMonths.slice(netStart,netEnd+1)

    try {
        
    } catch (error) {
        
    }
    const incomeData = [{{user['netIncome'][1]}},{{user['netIncome'][2]}},{{user['netIncome'][3]}},{{user['netIncome'][4]}},{{user['netIncome'][5]}},{{user['netIncome'][6]}},{{user['netIncome'][7]}},{{user['netIncome'][8]}},{{user['netIncome'][9]}},{{user['netIncome'][10]}},{{user['netIncome'][11]}},{{user['netIncome'][12]}}];

    const netIncomeData = [];

    for (let i = netStart; i<=netEnd;i++){
        netIncomeData.push(incomeData[i])
    }



    new Chart(netIncomeElement, {
        type: 'bar',
        data: {
            labels: netIncomeLabels,
            datasets: [{
                label: 'Monthly Net Income',
                data: netIncomeData, // Replace with your values
                backgroundColor: function(context) {
                    // Different colors for positive/negative values
                    const value = context.raw;
                    return value < 0 
                        ? 'rgba(255, 99, 132, 0.5)'  // red for negative
                        : 'rgba(75, 192, 192, 0.5)'; // green for positive
                },
                borderColor:function(context) {
                    const value = context.raw;
                    return value < 0 
                        ? 'rgba(255, 99, 132, 1)' 
                        : 'rgba(75, 192, 192, 1)';
                },
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            scales: {
                x: {
                    title: {
                        display: true,
                        text: 'Months'
                    }
                },
                y: {
                    beginAtZero: false,
                    title: {
                        display: true,
                        text: 'Money (USD)'
                    },
                    ticks: {
                        // Include a dollar sign in the ticks
                        callback: function(value) {
                            // Format negative currency properly
                            return value < 0 
                                ? '-$' + Math.abs(value) 
                                : '$' + value;
                        }
                    }
                }
            }
        }
    });


    //end of net income bar chart


    //savings Chart

    var savingsChart = document.getElementById('savingsGraph');

    var savingsType = document.getElementById("savingsType").value
    var savingsPercent = parseInt(document.getElementById("savingsPercent").value, 10);

    

    const interestRates = {
        'Roth IRA' : 1.08,
        'S&P500' : 1.085,
        'High Yield Savings Account' : 1.05
    }

    var initial = (savingsPercent*.01)*{{user['balance']}};
    var interst=interestRates[savingsType];
    var inflationInterest = 1.033;

    const savings=[];
    const inflation =[];


    for (let x = 0; x<=50; x+=.1){
        savings.push({
            x: x,
            y: initial*Math.pow(interst,x)
        });

        inflation.push({
            x: x,
            y: initial*Math.pow(inflationInterest,x)
        })
    }

    const savingsConfig = {
        type: 'line',
        data: {
            datasets: [
                {
                label: savingsType,
                data: savings,
                borderColor: 'blue',
                backgroundColor: 'blue',
                pointRadius: 0, // Hide points for smooth line
                tension: 0.4 // Adds slight curve to the line
                },
                {
                label: "Annual Inflation",
                data: inflation,
                borderColor: 'red',
                backgroundColor: 'red',
                pointRadius: 0, // Hide points for smooth line
                tension: 0.4 // Adds slight curve to the line
                },

            ]
        },
        options: {
            responsive: true,
            scales: {
                x: {
                    type: 'linear',
                    title: {
                        display: true,
                        text: 'Years'
                    }
                },
                y: {
                    type: 'linear',
                    title: {
                        display: true,
                        text: 'Money In Dollars'
                    },
                    beginAtZero: true
                }
            },
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Savings Graph'
                }
            }
        }
    };

    new Chart(savingsChart, savingsConfig);

    //end Savings Chart


    //income type pie chart

    var incomePieElement =  document.getElementById('incomePieChart');

    const incomePieLabels = [
        'Wire', 'Cash', 'Check','Card'
    ];
    
    const incomePieData = {
        labels : incomePieLabels,
        datasets : [{
            label: 'Amount',
            data: [ {{ user['income_types']['Wire']}} , {{ user['income_types']['Cash']}} , {{ user['income_types']['Check']}},  {{ user['income_types']['Card']}} ],
            backgroundColor: [
            'rgb(255, 99, 132)',
            'rgb(54, 162, 235)',
            'rgb(255, 205, 86)',
            'rgb(90, 31, 31)'
            ],
            hoverOffset : 4
        }]
            
    };
      

    const incomePieGraph = new Chart(
        incomePieElement,
      {
        type: 'pie',
        
        data: incomePieData,
        
        
    }
    );

    //end of income pie chart






    //expense pie chart


    var expensePieElement =  document.getElementById('expensePieChart');

    const expensePieLabels = [
        'Wire', 'Cash', 'Check','Card'
    ];
    
    const expensePieData = {
        labels : expensePieLabels,
        datasets : [{
            label: 'Amount',
            data: [ {{ user['expense_types']['Wire']}} , {{ user['expense_types']['Cash']}} , {{ user['expense_types']['Check']}}, {{ user['expense_types']['Card']}}  ],
            backgroundColor: [
            'rgb(255, 99, 132)',
            'rgb(54, 162, 235)',
            'rgb(255, 205, 86)',
            'rgb(90, 31, 31)'
            ],
            hoverOffset: 4
        }]
            
    };
      

    const expensePieGraph = new Chart(
        expensePieElement,
      {
        type: 'pie',
        
        data: expensePieData,
        
        
    }
    );


    //end of expense pie chart
    
  })();
</script>

{% endblock %} 